input {
    border-width: 3px;
    border-radius: .2rem;
    border-color: black;
}

input:focus{
    outline: none;
}

.live-validation:invalid{
    border-color: red;
}

input:valid{
    border-color: greenyellow;
}

#submit:hover{
    background-color: rgb(154, 154, 154);
}

#submit{
    border-color: black;
}
